{% extends 'padre.html' %}

{% block bloqueLibre1 %}
        
    <p>Estamos buscando las tecnicos en el turno: <strong>{{turno}}</strong></p>

    
    {% if modelo %}
    
    <ul>
    <section class="ListaVehiculos" >
        {% for m in modelo %}
            <!--<li> <b style="background-color:rgb(148, 210, 238) ;">Agencia: </b><b style="color: black ;">{{a.rsoc}}</b> / <b style="background-color:rgb(148, 210, 238) ;">Zona:</b><strong> {{a.zona}}</strong></li>-->
            
        <div class="card" style="width: 14rem;">
                <img src="https://i.postimg.cc/3JD7Kh8c/401156.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Vehiculo:</h5>
                <h6 class="card-text">Marca: {{m.marca}}</h6>
                <h6 class="card-text">Modelo: {{m.modelo}}.</h6>
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
                    
        </div>        
        {% endfor %}
    </section>

    
    {% else %}

        <p>No hubo coincidencias</p>        

    </ul>
    {% endif %}
        
{% endblock bloqueLibre1 %}
