{% extends 'padre.html' %}


{% block bloqueLibre1 %}
<body style="color: rgb(255, 255, 255)">
    {% for s in Sucursales %}

        <li>{{s}}</li>
        <div>
            <form action="{% url 'delsuc' s.zona %}"  method="POST"> {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
        </div>
    {% endfor %}

    <!--<a class="btn btn-primary" href="{% url 'formvehi' %}">Dar de alta</a>-->
    <form action="{% url 'formsuc'%}">
        <button type="submit">dar de alta</button>
    </form>
        </div>
</body>
{% endblock bloqueLibre1 %}
    
    
